.BookList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.BookCard {
  border: 1px solid #ccc;
  padding: 1rem;
  background: #eee;
  border: 3px double black;
}

.BookCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.BookDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
