.BookList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.BookCard {
  padding: 1rem;
  background: #eee;
  border: 3px double black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.MoreInfo {
  margin-top: auto;
}

.BookCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.BookCard h2 {
  min-height: 3rem;
}

.BookDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
